<h3>Edit Book Details: </h3>
<form action="/users/<%=current_user.id%>/books/<%=@book.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Title: </label>
  <input type="text" name="book[title]" value="<%=@book.try(:title)%>"><br>
  <label>Author: </label>
  <input type="text" name="book[author]" value="<%=@book.try(:author)%>"><br>
  <label>Genre: </label>
  <input type="text" name="book[genre]" value="<%=@book.try(:genre)%>"><br>
  <label>Brief Description: </label>
  <input type="text" name="book[body]" value="<%=@book.try(:body)%>"><br>
  <input type="submit" value="Edit Book">
</form>

<% erb :'_errors'%>
